@import "tailwindcss";


/* 1. Definimos los colores base (Modo Claro) */
:root {
  --background: #ffffff;
  --foreground: #171717;
}

/* 2. Definimos los colores oscuros (Cuando la clase .dark está activa) */
.dark {
  --background: #0a0a0a;
  --foreground: #ededed;
}

/* 3. Aplicamos las variables al cuerpo */
body {
  background-color: var(--background); /* Usa la variable que definimos arriba */
  color: var(--foreground);            /* Cambia el texto a blanco automáticamente */
  transition: background-color 0.3s ease, color 0.3s ease; /* Suaviza el cambio */
}
